<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> homepage</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="{{url_for ('about') }}">Skill&Job Recommender </a>
      </div>
      <ul>
        <li><a href="{{url_for ('home') }}">Home</a></li>
        <li><a href="{{url_for ('about') }}">About</a></li>
        <li><a href="{{url_for ('login') }}">Log in</a></li>
        <li><a href="{{url_for ('recur') }}">Recruiter</a></li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="col-sm-19 col-md-12 col-lg-12">

  <hr class="hr">
<hr align="justify">
<h1> About Us </h1>
<p><br>Job recommender systems have become popular since they successfully reduce
information overload by generating personalized job suggestions. Although in the
literature exists a variety of techniques and strategies used as part of job
recommender systems, most of them fail to recommend job vacancies that fit
properly to the jobseekers profiles. </p>
<br><br>
<p> Since the Scratch project, we have taken on many more endeavors, such as learning HTML and CSS in order to create web pages of our own instead of relying on other applications to see our creative visions through.
  </div>
</div>